.siteHeader {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}


body {
background:hsl(0, 0%, 99%)
}



/* body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
} */