* {
  box-sizing: border-box;
}

.siteHeader {
  display: flex;
  justify-content: space-between;
  /*just like justify text, this will push justify the conent in flex box */
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #ddd;
}
.siteHeader,
.topBar,
.container
.containerDetails {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body.dark .siteHeader {
  background: #111;
  border-bottom: 1px solid #333;
  color: white;
}

i {
  font-size: 18px;
  color: inherit;
  margin-left: auto;
  align-items: right;
}

.darkMode {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.searchBox {
  position: relative;
  flex: 1;
  max-width: 400px;
}

.searchBox input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon {
  position: absolute;
  left: 12px;
  top: 12px;
  /* transform: translateY(-50%); */
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.filter {
  margin-left: auto;
  width: 150px;
}

#region {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background: hsl(0, 0%, 99%);
  color: black;
  transition: 0.3s;
  overflow-x: hidden;
  /* smooth transition from state to another */
}

body.dark {
  background-color: black;
  color: whitesmoke;
}

.container {
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}


.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
   max-height: calc(100vh - 200px);

}

.country-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  /* not to go outside of the container */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}

.country-card:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: 0.2s ease;
}

/* adding focus for keyboard users
.country-card:focus {
  outline: 3px solid #3b82f6;
}

input:focus,
select:focus {
  outline: 2px solid #3b82f6;
} */

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Adding Media Queries for Tablet */
@media (max-width: 1024px) {
  .countries-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adding Media Queries for mobile */
@media (max-width: 600px) {
  .countries-grid {
    grid-template-columns: 1fr;
  }
}

body.dark .country-card {
  background-color: #2b3945;
  color: white;
}

.flag img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  /* to fill the entire container */
}

.country-info {
  padding: 15px;
}

.country-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.country-info p {
  font-size: 14px;
  margin: 5px 0;
}

.back-btn {
  padding: 8px 40px;
  background-color: rgb(189, 175, 175);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 30px;
}

.containerDetails {
  margin:30ox;
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .containerDetails {
    flex-direction: column;
  }
}